<div class="card">
    <h4 class="card-header text-center">Account</h4>

    <div class="card-body">
        <p>
            Ci sono attualmente <strong>{{num_accounts_connected}}</strong> connessi su un totale di
            <strong>{{num_accounts_registered}}</strong> account registrati.
        </p>
        <p>
            Di questi, <strong>{{num_accounts_registered_recent}}</strong> sono stati creati questa
            settimana, e <strong>{{num_accounts_connected_recent}}</strong> si sono connessi negli
            ultimi sette giorni.
        </p>
    </div>
</div>
