<div class="card text-center">
    <h4 class="card-header text-center">Evennia</h4>

    <div class="card-body">
        <p><a href="https://evennia.com">Evennia</a> &egrave; un framework open source per la creazione
            di MUD/MU*, scritto in <a href="http://python.org">Python</a>, basato su
            <a href="http://twistedmatrix.com">Twisted</a> e
            <a href="http://djangoproject.com">Django</a>.<br>
            Questo porting di CthulhuMud &egrave; costruito sopra Evennia.</p>
    </div>
</div>
